{%extends 'base.html'%}

    {%block carousel%}
    {%include 'carousel.html'%}
    {%endblock%}

    {%block service%}
    {%include 'service_list.html'%}
    {%endblock%}

    
    {%block today_offer%}
    {%include 'today_offer_list.html'%}
    {%endblock%}

    {%block appointment%}
    {%include 'make_appointment.html'%}
    {%endblock%}

    {%block opening%}
    {%include 'opening.html'%}
    {%endblock%}

    {%block pricing%}
    {%include 'pricing_list.html'%}
    {%endblock%}

    {%block testimonial%}
    {%include 'testimonial.html'%}
    {%endblock%}