{%include 'my_bookings_header.html'%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="container-fluid" style="margin: 90tdx 0;">

    <div class="container booking_container">

        <div class="booking_wrapper">
            <p>Date : 10/2/2024</p>
            <p>Name : Babu</p>
            <p>Category : Male</p>
            <p>Service : Hair Cut</p>
            <p>T5</p>
            <div class="button_wrapper">
                <button class="btn btn-primary">Cancel</button>
                <button class="btn btn-primary"><i class="fa-solid fa-download"></i></button>
            </div>
        </div>
        <div class="booking_wrapper">
            <p>Date : 10/2/2024</p>
            <p>Name : Babu</p>
            <p>Category : Male</p>
            <p>Service : Hair Cut</p>
            <p>T5</p>
            <div class="button_wrapper">
                <button class="btn btn-primary">Cancel</button>
                <button class="btn btn-primary"><i class="fa-solid fa-download"></i></button>
            </div>
        </div>
        <div class="booking_wrapper">
            <p>Date : 10/2/2024</p>
            <p>Name : Babu</p>
            <p>Category : Male</p>
            <p>Service : Hair Cut</p>
            <p>T5</p>
            <div class="button_wrapper">
                <button class="btn btn-primary">Cancel</button>
                <button class="btn btn-primary"><i class="fa-solid fa-download"></i></button>
            </div>
        </div>
        <div class="booking_wrapper">
            <p>Date : 10/2/2024</p>
            <p>Name : Babu</p>
            <p>Category : Male</p>
            <p>Service : Hair Cut</p>
            <p>T5</p>
            <div class="button_wrapper">
                <button class="btn btn-primary">Cancel</button>
                <button class="btn btn-primary"><i class="fa-solid fa-download"></i></button>
            </div>
        </div>
        <div class="booking_wrapper bg-darker">
            <p>Date : 10/2/2024</p>
            <p>Name : Babu</p>
            <p>Category : Male</p>
            <p>Service : Hair Cut</p>
            <p>T10</p>
            <div class="button_wrapper">
                <button class="btn btn-primary">Cancel</button>
                <button class="btn btn-primary"><i class="fa-solid fa-download"></i></button>
            </div>
        </div>
        <div class="booking_wrapper">
            <p>Date : 10/2/2024</p>
            <p>Name : Babu</p>
            <p>Category : Male</p>
            <p>Service : Hair Cut</p>
            <p>T5</p>
            <div class="button_wrapper">
                <button class="btn btn-primary">Cancel</button>
                <button class="btn btn-primary"><i class="fa-solid fa-download"></i></button>
            </div>
        </div>
          
    </div>

</div>